.App{
  
}

.App, .form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gpa{
  color : black;
  width : 120px;
  height: auto;
  padding : 2px;
  border-radius: 5px;
}

.green-gpa{
  background-color: green;
}

.yellow-gpa{
  background-color: yellow;
}

.orange-gpa{
  background-color: orange;
}

.red-gpa{
  background-color: red;
}